head
  title Jeans or Shorts

  meta(http-equiv="content-type", content="text/html; charset=UTF-8")
  meta(name="description", content="Should you wear jeans or shorts today?")
  meta(name="keywords", content="Jeans, Shorts, Weather, Hipster")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

  meta(property="og:title", content="Jeans or Shorts")
  meta(property="og:url", content="http://www.jeansorshorts.com")
  meta(property="og:image", content="http://www,jeansorshorts.com/images/shorts/1.jpg" )
  meta(property="og:site_name", content="Jeans or Shorts" )
  meta(property="og:app_id", content="391921424170122")

  script(src="//use.typekit.com/vly2wqt.js")
  script try{Typekit.load();}catch(e){}

  link(rel="stylesheet", type="text/css", href="/styles/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="/styles/bootstrap-responsive.css")
  link(rel="stylesheet", type="text/css", href="/styles.css")
  link(href='//fonts.googleapis.com/css?family=Satisfy|Patua+One', rel='stylesheet', type='text/css')

  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29521837-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
