doctype 5
html(lang="en")
  include head

  body
    div#fb-root
    div#container

      div.container
        header#header
          h2(class='logo')
            span.jeans Jeans
            span.or or
            span.shorts Shorts
        div#info(class='info-message')
          span Loading pants...

        div#pants_holder
          div.row
            h1#pants-header(class='pants-header tk-report')

          div.row
            div(class='pants')
              img#pants

          div.row
            div(class='why')
              p#why

          div#social(class="row text-center")
            div.social
              div(class="fb-like", data-href="http://jeansorshorts.com", data-send="false", data-layout="button_count", data-show-faces="false")
              div(class="tweet")
                a(href="https://twitter.com/share", class="twitter-share-button", data-hashtags="jeansorshorts") Tweet
              //- div(class="follow")
              //-   a(href="https://twitter.com/jeansorshorts", class="twitter-follow-button", data-show-count="false") Follow @jeansorshorts
        div.push

    div#footer
     //- span Made by <a href="http://dannymidnig.ht">dannymidnig.ht</a>

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src="http://j.maxmind.com/app/geoip.js")

    if env === 'development'
      script(src="/js/lib/require.js", data-main="/js/main")
      script(src="/js/jeansorshorts.js")
    else
      script(src="/build/jeansorshorts.js")

    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
