html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "brevia", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -1;
  color: #333;
  background: #F0EEE3 url(/images/farmer.jpg) repeat top left;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -25px;
}
pan
h1, h2, h3, h4 {
  margin: 0;
}

.jeans {
  font-family: 'Patua One', cursive;
  color: #1D3D57;
}

.shorts {
  font-family: 'Satisfy', cursive;
  color: #a52a2a;
}

.or {
  margin: 0 15px 0 10px;
  font-size: 0.7em;
  font-weight: normal;
}

.info-message span {
  display: block;
  line-height: 1.5;
}


#info, #header { text-align: center; }
#header { padding-top: 15px; }


.confidence {
  font-style: italic;
  font-weight: bold;
}

#pants_holder {
  padding: 0 10px 15px 10px;
}

#pants-header {
  margin: 0;
}

#pants_video {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.logo .jeans,
.logo .shorts{
  font-size: 60px;
}

/* The pants header
----------------------------------- */
.pants-header {
  font-size: 90px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
}


/* The pants image
----------------------------------- */
.pants {
  text-align: center;
}
.pants img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  max-height: 450px;
  max-width: 100%;
  background-color: white;
}

/* The "why"
----------------------------------- */
.why {
  max-width: 350px;
  margin: 0 auto;
}

.why p {
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;

}

.temp,
.high,
.low {
  font-weight: bold;
}

.condition {
  font-style: italic;
}

#rules { text-align: center; }
#rules > * { margin-right: 5px; }
#rules > *:last-child { margin-right:0; }

#temperature {
  vertical-align: top;
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  color: #75766a;
}

img#forecast {
  height: 48px;
  width: 48px;
}

.text-center {
  text-align: center;
}

#social { display: none; }
.social {
  display: inline-block;
  text-align: left;
}

#footer, .push {
  height: 25px;
  text-align: right;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #a52a2a;
}

a:hover { text-decoration: underline; }
#footer a { font-size: 0.8em; }

@media screen and (max-width: 480px)
{
  #pants_header {
    font-size: 48px;
  }
}
